click
Flask
Flask-SQLAlchemy
Flask-Bcrypt
Flask-Caching
Flask-Cors
Flask-Migrate
flask-restx
greenlet
itsdangerous
MarkupSafe
SQLAlchemy
werkzeug==2.1.2
pytest
PyJWT
python-dotenv
flask-marshmallow
psycopg2-binary